.timelineContainer {
  height: 98%; /* relativo ao pai */
  font-family: sans-serif;
  position: absolute;
  left: 50%;
}

.timelineLine {
  border-radius: 50px;
  width: 4px;
  height: inherit; /* relativo ao pai */
  background-color: #333;
}


.timelineProgress {
    border-radius: inherit;

  width: inherit;
  background: linear-gradient(to bottom, var(--light-cyan), var(--dark-cyan));
}
