.timelineContainer {
  height: 98%;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
}

.timelineLine {
  border-radius: 50px;
  width: 4px;
  height: inherit;
  background-color: #333;
}

.timelineProgress {
  border-radius: inherit;
  transition: height 0.4s ease-out;
  width: inherit;
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 255, 0),
    var(--dark-cyan)
  );
}
