.aboutMe {
  width: clamp(200px, 100%, 1000px);
  margin: 0 auto;
  padding: 1rem;
}
.bioExperiencesWrapper {
  margin-top: 10dvh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
    flex-wrap: wrap; /* opcional para quebrar se precisar */
}
@media screen and (max-width: 412px) {
  .aboutMe {
    padding: 0rem;
  }
  .bioExperiencesWrapper {
    display: block;
    flex-direction: column;
  }
}
