.aboutMe {
  width: clamp(200px, 90%, 1000px);
  margin: 0 auto;
  padding: 1rem;
  background-color: blueviolet;
}
.bioExperiencesWrapper {
  margin-top: 10dvh;
  background-color: aqua;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 500px) {
  .aboutMe {
    padding: 0rem;
  }
  .bioExperiencesWrapper {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
