.liveDemo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--light-gray);
  padding: 0.7rem;
  height: auto;
  width: fit-content;
}
.liveDemo h1 {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .liveDemo h1 {
    display: none;
  }
}
