.blog {
  width: clamp(200px, 90%, 1200px);
  margin: 0 auto;
  padding: 1rem;
  margin-top: 10dvh;
}

.blogContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.blogCard {
  width: 49%;
}

.blogContainer .blogCard:last-child:nth-child(odd) {
  width: 100%;
}

@media screen and (max-width: 740px) {

  .blogCard {
    width: 1000%;
  }

}
