.skillsTable {
  margin-top: 1rem;
}
.title {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #bbb;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.categoriesContainer {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.categoriesItem  {
  width: 20%;
  height: 10%;
  padding: 1rem;
  border: 2px solid var(--dark-cyan);
  border-radius: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.selected{
}
