:root {
  --light-gray: #373739;
  --dark-gray: #19191a;
  --dark-cyan: #60d4ea;
  --light-cyan: #9ae5f3;
  --black: #020202;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
@keyframes pulseBalls {
  50% {
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.02) 5px,
        transparent 0
      ),
      linear-gradient(to bottom, var(--black) 0%, var(--black) 40%, #60d3ea69);
    background-size: 20px 20px, 100% 100%;
  }
}
body {
  min-height: 100dvh;
  background-color: var(--black);
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.02) 3px,
      transparent 0
    ),
    linear-gradient(to bottom, var(--black) 0%, var(--black) 40%, #60d3ea69);
  background-size: 20px 20px, 100% 100%;
  background-position: center;
  color: white;
  font-family: var(--font-main);
  animation: pulseBalls 4s ease-in-out infinite;
}
