.blogCardContainer {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.blogCardContainer img {
  width: 100%;
  height: 10rem;
  border: 2px solid var(--dark-gray);
  border-radius: 10px;
}

.blogCardContainer .date {
  color: gray;
}
