.card {
  background-color: rgba(250, 250, 250, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.card:link,
.card:active {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  z-index: 1;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 10rem;
  width: 100%;
}

.content {
  padding: 1rem;
  transition: color 0.3s ease;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  transition: color 0.3s ease;
  transition: border-bottom 0.2s ease, color 0, 2s;
  border-bottom: 2px solid transparent;
  display: inline-block;
}


.card:hover .title {
  color: var(--dark-cyan);
  border-bottom: 2px solid var(--dark-cyan);
  color: var(--dark-cyan);

}

.date {
  font-size: 1rem;
  color: #666;
  text-decoration: none !important;
}

.topics {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.topic {
  display: flex;
  color: var(--light-cyan)
}
