.moreAbout {
  width: clamp(200px, 90%, 1200px);
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5dvh;
}
.mainImageContainer {
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title {
  text-align: center;
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-cyan);
}
.badgesContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
