.moreAbout {
  width: clamp(200px, 90%, 1200px);
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5dvh;
}
.mainImageContainer {
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
