.timelineContainer {
  padding: 1rem;
  height: 100dvh;
  color: #fff;
  font-family: sans-serif;
}

.timelineLine {
  top: 2rem;
  left: 20px;
  width: 4px;
  height: inherit;
  background-color: #333;
}

.timelineProgress {
  top: 0;
  left: 0;
  width: 4px;
  background: linear-gradient(to bottom, red, blue);
}

/* .avatar {
  position: absolute;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url("/avatar.jpg");
  background-size: cover;
  border: 2px solid #fff;
  z-index: 10;
  transition: top 0.1s ease-out;
} */

.timelineContent {
  margin-top: 150vh;
}
