.experiencesContainer {
  display: flex;
  position: relative;
}


.workInfoContainer {
  padding: 1rem;
  display: flex;
  gap: 10%;
}

@media screen and (max-width: 768px) {
  .experiences {
    flex-direction: column;
    margin: 2rem auto;
  }
}
